@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
}
body {
  background: white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

@layer base {
  a {
    @apply text-[14px] font-[400] uppercase leading-[14px] tracking-[2px];
  }
}

@layer components {
  .matrix {
    transform: matrix(0, -1, -1, 0, 0, 0);
  }
}
